button.btn {
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-family: inherit;
  font-weight: 500;
  font-size: var(--text-sm);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgb(var(--foreground));
  transition: all 0.15s var(--spinup-ease);
  gap: 2px;

  &:hover {
    background: rgb(var(--foreground)/.8);
  }

  &:active {
    background: rgb(var(--foreground)/.7);
  }

  &.fab {
    padding: 0;
    border-radius: 50%;
    width: 4rem;
    aspect-ratio: 1;
    transition: scale 0.15s var(--spinup-ease);

    &:hover {
      scale: 1.03;
    }

    &:active {
      scale: 1;
    }

    span.material-symbols-outlined{
      font-size: 20px;
      transition: font-size 0.15s var( --spinup-ease);
    }
  }

  span.material-symbols-outlined {
    font-size: inherit;
  }
}

