.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgb(var(--border-color));
  display: flex;
  padding: 16px 32px;
  align-items: center;
  gap: 25px;
  background: rgb(var(--background));
  z-index: 10;

  &.translucent{
    backdrop-filter: blur(8px);
    background: rgb(var(--background)/.8);
  }

  a {
    text-decoration: none;
  }

  .navbar-title {
    font-size: 1.2rem;
    font-weight: 900;


    &.size-changing{
      transition: font-size 0.3s var(--spinup-ease);

      .navbar-icon {
        transform: scale(1);
        transform-origin: right bottom;
        transition: transform 0.3s var(--spinup-ease);
        height: 1.2rem;
      }

      &:not(.scrolled) {
        font-size: 2rem;

        .navbar-icon {
          transform: scale(1.6);
        }
      }
    }
  }

  .navbar-links {
    display: flex;
    align-items: center;
    gap: 25px;

    a {
      font-size: .875rem;
      color: rgb(var(--foreground)/.6);
      transition: color 0.15s var(--spinup-ease);
      display: inline-flex;
      align-items: center;

      &:hover {
        color: rgb(var(--foreground)/.8);
      }

      &.active-link {
        color: rgb(var(--foreground));
      }

      span.material-symbols-outlined {
        font-size: inherit;
      }
    }
  }
}