@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon:XROT,YROT@-45..45,-45..45&family=Tilt+Warp:XROT,YROT@-45..45,-45..45&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght,GRAD,YTUC@8..144,100..1000,-200..150,528..760&display=swap');

.loader-tilt {
  /* font-family: 'Roboto Flex', sans-serif; */
  font-family: 'Geist Sans';
  font-size: 4rem;
  --split-index: 2;

  span.split {
    position: relative;
    display: inline-block;
    animation-name: stretch;
    --duration: 2s;
    animation-duration: var(--duration);
    font-weight: 700;
    /* animation-timing-function: var(--spinup-ease); */
    animation-timing-function: ease-in-out;
    animation-delay: calc(var(--split-index)*calc(var(--duration)*.1));
    animation-iteration-count: infinite;
    /* font-variation-settings: 'XROT' -0, 'YROT' -10; */
    /* font-variation-settings: 'YTUC' 528; */
    transform: scaleY(1) translateY(0px);
    /* font-size: 1.4em; */

    /* scale: 0.8; */
  }
}

@keyframes stretch {
  0% {
    /* font-variation-settings: 'YTUC' 528; */
    transform: scaleY(1) translateY(0px);
  }
  50% {
    /* font-variation-settings: 'YTUC' 760; */
    transform: scaleY(1.5) translateY(14px);
  }
}

@keyframes bob {
  0% {
    /* font-size: 1.4em; */
    transform: translateY(0px);
    /* scale: 0.8; */
    font-variation-settings: 'XROT' -0, 'YROT' -10;
  }
  50% {
    /* font-size: 1em; */
    /* scale: 1.2; */
    transform: translateY(15px);
    font-variation-settings: 'XROT' 0, 'YROT' 10;
  }
}